<!DOCTYPE html>
<html itemscope lang="cs" itemtype="http://schema.org/" ng-app="project">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="cs" />
	<meta http-equiv="imagetoolbar" content="no" />

	<meta name="copyright" content="DeveloperHub 2012" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DeveloperHub - coworkingové centrum pro vývojáře</title>

	<!-- Le styles -->
	    <link href="./js/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <style type="text/css">
	      body {
	        padding-top: 90px;
	        padding-bottom: 40px;
	      }
	    </style>
	    <link href="./js/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	<script type="text/javascript"
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
	<script type="text/javascript">
		!window.jQuery && document.write("<script src=\"./js/jquery.js\"><\/script>")
	</script>
	<script src="http://code.angularjs.org/angular-1.0.0rc6.min.js"></script>
	<script src="./js/modules/mongo.js"></script>
	<script src="http://code.angularjs.org/angular-resource-1.0.0rc6.min.js"></script>
	<script src="./js/controllers/newsController.js"></script>
	<script src="./js/controllers/messageController.js"></script>

	<script src="./js/bootstrap/js/bootstrap.js"></script>
	<script src="./js/my.js"></script>
	
	<script type="text/javascript">

		 var _gaq = _gaq || [];
		 _gaq.push(['_setAccount', 'UA-31913510-1']);
		 _gaq.push(['_trackPageview']);

		 (function() {
		   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();

	</script>
</head>
<body data-spy="scroll" id="home">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
			  <img src="./img/logotyp_developer_hub.png" alt="" />
          </a>
          <div class="nav-collapse">
            <ul class="nav pull-right" id="navbar">
              <li><a class="btn btn-large" id="nav-home" href="#home">Co je DeveloperHub</a></li>
              <li><a class="btn btn-large" id="nav-news" href="#news">Novinky</a></li>
              <li><a class="btn btn-large" id="nav-members" href="#members">Členové</a></li>
				<li><a class="btn btn-large" id="nav-contact" href="#contact">Kontakt</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hledáme další členy!</h1>
        <p>
			Chcete se denně scházet se stejně smýšlejícími lidmi? Chcete získávat a sdílet své zkušenosti s ostatními? Hledáte klidné místo na práci v centru Liberce?
		</p>
        <p><a class="btn btn-primary btn-large btn-success" href="#contact">Ano, chci být členem DeveloperHubu &raquo;</a></p>
      </div>




		<div class="row" id="what">
			<div class="span12">
				<h2>Co je DeveloperHub</h2>
				<p>
					<span class="pr">
						DeveloperHub je coworkingové centrum v Liberci, ve kterém se setkávají odborníci v oblasti vývoje aplikací pro desktopové, webové i mobilní platformy. Společné pracoviště s dalšími vývojáři podpoří váš profesní rozvoj, seznámíte se s kolegy, se kterými můžete spolupracovat na větších projektech.
					</span>
				</p>
				<p>
					<span class="pr">
						Coworking vytváří optimální podmínky pro samostatnou práci i pro týmový vývoj. Podporuje kreativitu, vztahovou synergii a vytváří komunitu profesionálů.
					</span>
				</p>
				<p>
					<span class="pr">
						Důležitá je také  společenská a psychologická funkce takového pracoviště. Coworking elegantně řeší většinu nedostatků práce z domova - od pocitů osamělosti po sklony k workoholismu nebo prokrastinaci.
					</span>
				</p>
			</div>
		</div>

	  <div id="news" style="height: 30px;"></div>

		<div class="row" id="whats">
			<div class="span8">
				<h2>Co DeveloperHub nabízí</h2>
				<p>
				<ul>
					<li class="pr">klidné a dostupné pracoviště pro nezávislé vývojáře, otevřené 24/7</li>
					<li class="pr">prostor a zázemí pro přijímání klientů</li>
					<li class="pr">možnost spolupráce na projektech</li>
					<li class="pr">učení se od zkušenějších</li>
					<li class="pr">zázemí pro pořádání veřejných školení</li>
					<li class="pr">pořádání interních školení členů DeveloperHubu</li>
					<li class="pr">možnost dodržování běžné pracovní doby</li>
					<li class="pr">otevřenou komunitu a spolupráci členů DeveloperHubu</li>
					<li class="pr">prostor pro startupy</li>
				</ul>
				</p>
			</div>

			<div class="span4" ng-controller="NewsCtrl">
			 <h2>Novinky</h2>
				<div ng-repeat="new in news">
				<p class="pr">{{new.content}}</p>
				<a class="btn" href="{{new.button_link}}" target="{{new.button_target}}">{{new.button_name}} &raquo;</a></p>
				<br />
				</div>

			</div>

		</div>

	  <div id="members" style="height: 30px;"></div>

		<div class="row">

			<div class="span8">
		  <h2>Členové</h2>
			<div class="photogallery">
			<ul class="thumbnails">
  			<li class="span3">
      			<img src="./img/foto/dan150.png" alt="Radim Daniel Pánek">
						<div class="member_name">Radim Daniel Pánek</div>
						<p>
							Programátor - Testování a Git
						</p>
  			</li>
				<li class="span3">
      			<img src="./img/foto/saman150.png" alt="Miroslav Mrázek">
						<div class="member_name">Ing. Miroslav Mrázek</div>
						<p>
							Programátor - NetteFramework
						</p>
  			</li>
			<li class="span3">
      			<img src="./img/foto/lada150.png" alt="Ladislav Vondráček">
						<div class="member_name">Ladislav Vondráček</div>
						<p>
							Programátor - NetteFramework
						</p>
  			</li>
  
			</ul>
			</div>

		  </div>

			<div class="span4">
			  <h2>Twitter</h2>
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'profile',
				  rpp: 4,
				  interval: 30000,
				  width: 'auto',
				  height: 300,
				  theme: {
				    shell: {
				      background: '#ffffff',
				      color: '#232323'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#232323',
				      links: '#169104'
				    }
				  },
				  features: {
				    scrollbar: false,
				    loop: false,
				    live: false,
				    behavior: 'default'
				  }
				}).render().setUser('developer_hub').start();
				</script>
				<br />
				<!-- Place this tag where you want the +1 button to render -->
				<g:plusone></g:plusone>

				<!-- Place this render call where appropriate -->
				<script type="text/javascript">
				  window.___gcfg = {lang: 'cs'};

				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>

				<br />

			</div>
		</div>

	  <div id="contact" style="height: 30px;"></div>

		<div class="row">

			<div class="span6" ng-controller="MessageCtrl">
			<h2>Kontaktní formulář</h2>
				<br />
				<form name="messageForm">
				<input type="text" ng-model="name" class="span5" placeholder="Vaše jméno a příjmení"> <br />
				<input type="text" ng-model="email" class="span5" placeholder="Vaše emailová adresa"> <br />
				<textarea ng-model="message" class="span5" rows="10" placeholder="Napište prosím svou zprávu"></textarea> <br />
				<input ng-click="save()"  type="button" name="send" value="{{send_button}}" class="btn btn-success btn-large" />
				</form>

				<div class="alert alert-success alert-msg">
					<strong>Perfektní!</strong> Vaši zprávu jsme zaregistrovali a co nejdříve na ní budeme reagovat.
				</div>

				<div class="alert alert-error alert-msg">
					<strong>Zprávu se nezdařilo zaznamenat!</strong> Zkuste prosím Vaši zprávu odeslat znovu. Děkujeme.
				</div>
			</div>




			<div class="span6">
				<strong>Kontaktní adresa</strong> <br />
				<address>
					Husova 12/11<br />
					Liberec, 512 01<br />
				</address>

				<strong>Twitter:</strong> <a href="http://twitter.com/#!/Developer_Hub" target="_blank">@Developer_Hub</a><br />
				<strong>Email:</strong> rdpanek@developerhub.cz<br />
				<strong>Telefon:</strong> +420 731 011 200<br />
				<strong>Kontaktní osoba:</strong> Radim Daniel Pánek
				<br /><br />

				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=207318451575076045310.0004c0259995bc3c86e54&amp;ie=UTF8&amp;t=m&amp;z=17&amp;output=embed"></iframe><br /><small>Zobrazit místo <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=207318451575076045310.0004c0259995bc3c86e54&amp;ie=UTF8&amp;t=m&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">DeveloperHub</a> na větší mapě</small>

			</div>

		</div>

      <hr>

      <footer>
        <div>
			<div class="ico_technologi">
			<img src="./img/angularjs.png" />
			</div>
		</div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
